# The apikey for the different weather providers, at least one must be specified
# Note: Hamweather requires two apikeys: client_id=apikey, client_secret=apikey2
#apikey.ForecastIo=
#apikey.OpenWeatherMap=
#apikey.WorldWeatherOnline=
apikey.Wunderground=1234567890
#apikey.Hamweather=
#apikey2.Hamweather=
#apikey.Meteoblue=

# location configuration, you can specify multiple locations
location.mariapolisluminosa.name=hydepark
location.mariapolisluminosa.latitude=41.783333
location.mariapolisluminosa.longitude=-73.9
location.mariapolisluminosa.provider=Wunderground
location.mariapolisluminosa.language=en
location.mariapolisluminosa.updateInterval=30
location.mariapolisluminosa.units=us

#location.<locationId2>.name=
#location.<locationId2>.latitude=   (not required for Yahoo provider)
#location.<locationId2>.longitude=  (not required for Yahoo provider)
#location.<locationId2>.woeid=      (required for Yahoo provider)
#location.<locationId2>.provider=
#location.<locationId2>.language=
#location.<locationId2>.updateInterval=
